* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

#c1,
#c2 {
  width: 30%;
}
th {
  font-size: 24px;
}

li {
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
li:last-child {
  margin-bottom: 10px;
}

/* information css*/
.infor-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  align-items: center;
}
.infor-column p {
  margin-top: 10px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
}
.power-wrapper,
.u-wrapper,
.i-wrapper,
.number-wrapper {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.power-value,
.u-value,
.i-value,
.number-value {
  width: 80px;
}
.power-logo,
.u-logo,
.i-logo,
.number-logo {
  width: 80px;
}
/*end*/

input[type="checkbox"] {
  position: relative;
  width: 80px;
  height: 30px;
  -webkit-appearance: none;
  background-color: #c6c6c6;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: -10px;
}
input:checked[type="checkbox"] {
  background-color: aqua;
}
input[type="checkbox"]::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #ff1;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
input:checked[type="checkbox"]::before {
  left: 50px;
}